<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<div th:replace="admin/fragments/head :: head"></div>




<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">

		<div th:replace="admin/fragments/header :: header"></div>

		<!-- =============================================== -->

		<div th:replace="admin/fragments/sidebar :: sidebar"></div>

		<!-- =============================================== -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<section class="content-header">
				<h1>Inventory out Page</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Admin
							Home</a></li>
					<li><a th:href="@{/admin/inventory-out}">Inventory out</a></li>
					<li class="active">Inventory out page</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
					 
				<div class="box">
					<div class="box-header with-border">
						<div class="box-header with-border">

						<div class=row>
							<div class="col-md-10">
							<h4>Search Inventory out</h4>
						    <form th:action="@{/admin/inventory-out}" method="get">
							    <div style="display: flex; gap: 10px; align-items: center;">
							        <label for="startDate">Start Date:</label>
							        <input type="date" id="startDate" name="startDate" th:attr="value=${startDate != null} ? ${#dates.format(startDate, 'yyyy-MM-dd')} : ''" required>
							        
							        <label for="endDate">End Date:</label>
							        <input type="date" id="endDate" name="endDate" th:attr="value=${endDate != null} ? ${#dates.format(endDate, 'yyyy-MM-dd')} : ''" required>
							        
							        <button type="submit" class="btn btn-primary">Search</button>
							    </div>
							</form>

								<br />
							</div>
						</div>	
					</div>

					<div class="box-body">
						
						<table class="table table-bordered">
							<tbody>
								<tr>
									<th>ID</th>
									<th>quantity</th>
									<th>Last Update</th>
									<th>Product</th>
									<th>Action</th>


								</tr>

								<tr th:each="inventory_out : ${listInventory_out}">
									<td th:text="${inventory_out.id}"></td>
									<td th:text="${inventory_out.quantity_out}"></td>
									<td th:text="${#dates.format(inventory_out.lastUpdated, 'yyyy-MM-dd')}"></td>
									<td th:text="${inventory_out.product.productName}"></td>
									<td>
										<a
										th:href="@{/admin/edit-inventory-out/{id}(id=${inventory_out.id})}"
										class="btn btn-success">Edit</a> 
										<a
										th:href="@{/admin/delete-inventory-out/{id}(id=${inventory_out.id})}"
										class="btn btn-danger"
										onclick="return confirm('Bạn chắc chắn muốn xóa sản phẩm này ?')">Delete</a>
									</td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="box-footer clearfix">
						<ul class="pagination pagination-sm no-margin pull-right">
						
							<li th:if="${currentPage > 1}"><a th:href="@{'/admin/inventory-out?pageNo='+${currentPage-1}}">«</a></li>

							 <li th:each="i : ${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}">
					            <a th:href="@{'/admin/inventory-out?startDate=' + (${startDate} != null ? ${#dates.format(startDate, 'yyyy-MM-dd')} : '') + '&endDate=' + (${endDate} != null ? ${#dates.format(endDate, 'yyyy-MM-dd')} : '') + '&pageNo=' + ${i}}" th:text="${i}"></a>
					        </li>

							<li th:if="${currentPage < totalPage}"><a th:href="@{'/admin/inventory-out?pageNo='+${currentPage+1}}">»</a>
							</li>
						</ul>
					</div>






<!-- <div class="box-footer clearfix"> -->
<!--     <ul class="pagination pagination-sm no-margin pull-right"> -->
<!--         <li th:if="${currentPage > 1}"> -->
<!--             <a th:href="@{'/admin/inventory?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&pageNo=' + (currentPage - 1)}">«</a> -->
<!--         </li> -->
        
<!--         <li th:each="i : ${#numbers.sequence(1, totalPage)}" th:classappend="${currentPage == i ? 'active' : ''}"> -->
<!--             <a th:href="@{'/admin/inventory?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&pageNo=' + ${i}}" th:text="${i}"></a> -->
<!--         </li> -->

<!--         <li th:if="${currentPage < totalPage}"> -->
<!--             <a th:href="@{'/admin/inventory?startDate=' + ${startDate} + '&endDate=' + ${endDate} + '&pageNo=' + (currentPage + 1)}">»</a> -->
<!--         </li> -->
<!--     </ul> -->
<!-- </div> -->

				</div>

			</section>

		</div>


		<div th:replace="admin/fragments/footer :: footer"></div>

	</div>


	<div th:replace="admin/fragments/script :: script"></div>
</body>

</html>