<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="admin/fragments/head :: head">
	</div>
<title>Admin Dashboard</title>

	


<body class="hold-transition skin-blue sidebar-mini">
	<!-- Site wrapper -->
	<div class="wrapper">
		<div th:replace="admin/fragments/header :: header"></div>
		<!-- =============================================== -->
		<div th:replace="admin/fragments/sidebar :: sidebar"></div>
		<!-- =============================================== -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Thống kê kho</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i>
							Admin Home</a></li>
					<li><a th:href="@{/admin}">Admin</a></li>
					<li class="active">Thống kê kho</li>
				</ol>
			</section>
			<!-- Main content -->
			<section class="content">
				<!-- Default box -->
				<div class="box">
					<div class="box-body">
						<div class="row">
							<div class="col-lg-4 col-xs-4">
								<!-- small box -->
								<div class="small-box bg-aqua">
									<div class="inner">
										<h3 th:text="${countProduct}">0</h3>
										<p>Danh mục Kho hàng</p>
									</div>
									 <a th:href="@{/admin/category}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
									<div class="icon">
										<i class="ion ion-bag"></i>
									</div>
								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-4 col-xs-4">
								<!-- small box -->
								<div class="small-box bg-green">
									<div class="inner">
										<h3 th:text="${countCategory}">0</h3>
										<p>Sản phẩm kho hàng</p>
									</div>
									 <a th:href="@{/admin/product}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
									<div class="icon">
										<i class="ion ion-stats-bars"></i>
									</div>
								</div>
							</div>
							<!-- ./col -->
							<div class="col-lg-4 col-xs-4">
								<!-- small box -->
								<div class="small-box bg-yellow">
									<div class="inner">
										<h3 th:text="${countUser}"></h3>
										<p>Đăng ký người dùng</p>
									</div>
									 <a th:href="@{/admin/account/management}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
									<div class="icon">
										<i class="ion ion-person-add"></i>
									</div>
								</div>
							</div>
							
						
						</div>
						<!-- /.row -->

						<!-- Charts -->
						<div class="row">
							<div class="col-lg-6 col-xs-12">
								<canvas id="donutChart"></canvas>
							</div>
							<div class="col-lg-6 col-xs-12">
								<canvas id="barChart"></canvas>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div th:replace="admin/fragments/footer :: footer"></div>
	</div>
	<div th:replace="admin/fragments/script :: script"></div>

	<script>
        document.addEventListener('DOMContentLoaded', function () {
            // Data for Donut Chart
            const donutData = {
                labels: ['Products', 'Categories', 'Users'],
                datasets: [{
                    data: [/*[[${countProduct}]]*/, /*[[${countCategory}]]*/, /*[[${countUser}]]*/],
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                }]
            };

            // Options for Donut Chart
            const donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            };

            // Get context with jQuery - using jQuery's .get() method.
            const donutCanvas = document.getElementById('donutChart').getContext('2d');
            // This will get the first returned node in the jQuery collection.
            new Chart(donutCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions,
            });

            // Data for Bar Chart
            const barData = {
                labels: ['Products', 'Categories', 'Users'],
                datasets: [{
                    label: 'Count',
                    backgroundColor: ['#f56954', '#00a65a', '#f39c12'],
                    data: [/*[[${countProduct}]]*/, /*[[${countCategory}]]*/, /*[[${countUser}]]*/]
                }]
            };

            // Options for Bar Chart
            const barOptions = {
                responsive: true,
                maintainAspectRatio: false,
                datasetFill: false
            };

            // Get context with jQuery - using jQuery's .get() method.
            const barCanvas = document.getElementById('barChart').getContext('2d');
            // This will get the first returned node in the jQuery collection.
            new Chart(barCanvas, {
                type: 'bar',
                data: barData,
                options: barOptions,
            });
        });
    </script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>
