<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registration Form</title>

<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/assets/css/AdminLTE.css}">
<link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}">
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"
	rel="stylesheet">
<style>
.error {
	color: red;
	font-size: 0.875em;
}
</style>
</head>

<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<b>Admin</b>LTE
		</div>
		<div class="login-box-body">

			<form role="form" th:action="@{/register}" method="post"
				th:object="${user}">
				<div class="form-group">
					<label for="username">Username : </label> <input type="text"
						class="form-control" id="username" name="username"
						th:field="*{userName}" th:value="${user.userName}">
					<div class="error" th:if="${#fields.hasErrors('userName')}"
						th:errors="*{userName}"></div>
				</div>
				<div class="form-group">
					<label for="password">Password : </label> <input type="password"
						class="form-control" id="password" name="password"
						th:field="*{passWord}" th:value="${user.passWord}">
					<div class="error" th:if="${#fields.hasErrors('passWord')}"
						th:errors="*{passWord}"></div>
				</div>
				<div class="form-group">
					<label for="fullName">Full Name : </label> <input type="text"
						class="form-control" id="fullName" name="fullName"
						th:field="*{fullName}" th:value="${user.fullName}">
					<div class="error" th:if="${#fields.hasErrors('fullName')}"
						th:errors="*{fullName}"></div>
				</div>
				<div class="form-group">
					<label for="gender">Gender : </label> <select class="form-control"
						id="gender" name="gender" th:field="*{gender}">
						<option value="0">Female</option>
						<option value="1">Male</option>
					</select>
				</div>
				<div class="form-group">
					<label for="address">Address : </label> <input type="text"
						class="form-control" id="address" name="address"
						th:field="*{address}" th:value="${user.address}">
					<div class="error" th:if="${#fields.hasErrors('address')}"
						th:errors="*{address}"></div>
				</div>
				<div class="form-group">
					<label for="email">Email : </label> <input type="text"
						class="form-control" id="email" name="email" th:field="*{email}"
						th:value="${user.email}">
					<div class="error" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></div>
				</div>
				<div class="form-group">
					<label for="telephone">Telephone : </label> <input type="text"
						class="form-control" id="telephone" name="telephone"
						th:field="*{telephone}" th:value="${user.telephone}">
					<div class="error" th:if="${#fields.hasErrors('telephone')}"
						th:errors="*{telephone}"></div>
				</div>
				<button type="submit" class="btn btn-success btn-block">Register</button>
			</form>
			<p class="text-center">
				Already have an account? <a th:href="@{/login}">Sign in here</a>
			</p>
		</div>
	</div>
	<script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
	<script
		th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
	<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
</body>
</html>
