<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="admin/fragments/header :: header"></div>
        <div th:replace="admin/fragments/sidebar :: sidebar"></div>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>Product Edit</h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Admin Home</a></li>
                    <li><a th:href="@{/admin/product}">Product</a></li>
                    <li class="active">Product Edit Page</li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-primary">
                   <form role="form" method="post" th:action="@{/admin/inventory-add}"
						th:object="${inventory}">
						<input type="hidden" class="form-control" id="id" placeholder="id" th:field="*{id}">
						<div class="box-body">
							<div class="form-group">
								<label for="price">Quantity :</label> <input type="number"
									class="form-control" id="quantity" placeholder="Quantiry"
									th:field="*{quantity}">
							</div>
							<div class="form-group">
								<label for="price">Last Update :</label> <input type="date"
									class="form-control" id="lastUpdate" placeholder="LastUpdate"
									th:field="*{lastUpdated}">
							</div>
							<div class="form-group">
								<div class="form-group">
									<label>Product :</label> <select
										class="form-control select2 select2-hidden-accessible"
										style="width: 100%;" th:field="*{product.id}">
										<option 
											th:value="${0}">----choose----</option>
										<option th:each="p : ${listProduct}"
											th:value="${p.id}" th:text="${p.productName}"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
                </div>
            </section>
        </div>

        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>

    <div th:replace="admin/fragments/script :: script"></div>
    <script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>
	<script>
		CKEDITOR.replace('description');
	</script>
</body>

</html>
