<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:replace="admin/fragments/head :: head"></head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <div th:replace="admin/fragments/header :: header"></div>
        <div th:replace="admin/fragments/sidebar :: sidebar"></div>

        <div class="content-wrapper">
            <section class="content-header">
                <h1>Supplier Edit</h1>
                <ol class="breadcrumb">
                    <li><a th:href="@{/admin}"><i class="fa fa-dashboard"></i> Admin Home</a></li>
                    <li><a th:href="@{/admin/supplier}">Supplier</a></li>
                    <li class="active">Supplier Edit Page</li>
                </ol>
            </section>

            <section class="content">
                <div class="box box-primary">
                    <form role="form" method="post" th:action="@{/admin/edit-supplier}"
						th:object="${suppliers}" >
						<div class="box-body">
                        <input type="hidden" class="form-control" id="id" th:field="*{id}">
						
							<div class="form-group">
								<label for="ProductName">supplier Name :</label> <input
									type="text" class="form-control" id="supplierName"
									placeholder="Supplier Name" th:field="*{supplierName}">
								 <span th:if="${#fields.hasErrors('supplierName')}" th:errors="*{supplierName}" class="error"></span>
							</div>
							<div class="form-group">

                                    <label for="categoryStatus">Gender</label><br />
                                    <label class="radio-inline">
                                        <input type="radio"  value="1"
                                            th:field="*{gender}">Nam
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="0"
                                            th:field="*{gender}">Nữ
                                    </label>
							</div>
							<div class="form-group">
								<label for="ProductName">phone :</label> <input
									type="text" class="form-control" id="phone"
									placeholder="phone" th:field="*{phone}">
									<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="error"></span>
							</div>
							<div class="form-group">
								<label for="ProductName">Email :</label> <input
									type="text" class="form-control" id="email"
									placeholder="email" th:field="*{email}">
									 <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
							</div>
							<div class="form-group">
								<label for="ProductName">Address :</label> <input
									type="text" class="form-control" id="address"
									placeholder="address" th:field="*{address}">
									 <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></span>
							</div>
						</div>

						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
                </div>
            </section>
        </div>

        <div th:replace="admin/fragments/footer :: footer"></div>
    </div>

    <div th:replace="admin/fragments/script :: script"></div>

</body>

</html>
