<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">

<head th:fragment="head">

<base href="/">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AdminLTE | Blank Page</title>

<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">

<link rel="stylesheet" th:href="@{assets/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{assets/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{assets/css/AdminLTE.css}">
<link rel="stylesheet" th:href="@{assets/css/_all-skins.min.css}">
<link rel="stylesheet" th:href="@{assets/css/jquery-ui.css}">
<link rel="stylesheet" th:href="@{assets/css/style.css}" />
<script th:src="@{assets/js/angular.min.js}"></script>
<script th:src="@{assets/js/app.js}"></script>
</head>