<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">


<!-- Left side column. contains the sidebar -->
		<aside class="main-sidebar" th:fragment="sidebar">
		
		
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{assets/images/user2-160x160.jpg}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p><span sec:authentication="name"></span></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- /.search form -->
				<!-- sidebar menu: : style can be found in sidebar.less -->

				<ul class="sidebar-menu" data-widget="tree">
					<li><a th:href="@{/admin}"> <i class="fa fa-book"></i> <span>Thống kê kho</span>
					<span class="pull-right-container"> </span>
			</a></li>
					<li><a th:href="@{/admin/category}"> <i class="fa fa-th"></i> <span>Quản lý Danh Mục </span> <span class="pull-right-container"> 
						</span>
					</a></li>

					<li class="treeview"><a href=""> <i class="fa fa-dashboard"></i> <span>Quản lý Sản Phẩm</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a th:href="@{/admin/product}"><i class="fa fa-circle-o"></i> Danh sách</a></li>
							<li><a th:href="@{/admin/product-add}"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
						</ul>
					</li>
					
					<li class="treeview"><a href=""> <i class="fa fa-dashboard"></i> <span>Quản lý kho</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a th:href="@{/admin/inventory}"><i class="fa fa-circle-o"></i> Danh sách</a></li>
							<li><a th:href="@{/admin/inventory-add}"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
						</ul>
					</li>
					<li class="treeview"><a href=""> <i class="fa fa-dashboard"></i> <span>Nhà Cung Cấp</span> <span class="pull-right-container"> <i class="fa fa-angle-left pull-right"></i></span></a>
						<ul class="treeview-menu">
							<li><a th:href="@{/admin/supplier}"><i class="fa fa-circle-o"></i> Danh sách</a></li>
							<li><a th:href="@{/admin/supplier-add}"><i class="fa fa-circle-o"></i> Thêm mới</a></li>
						</ul>
					</li>
					<li><a th:href="@{/admin/account/management}"> <i class="fa fa-th"></i> <span>Quản lý tài khoản</span>
							<span class="pull-right-container"> 
						</span>
					</a></li>

				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>